node_modules
.git
.gitignore
.env
README.md
Dockerfile
docker-compose.yml
src
*.ts
*.tsx
postcss.config.js
tailwind.config.ts
tsconfig*.json
vite.config.ts
eslint.config.js
components.json
bun.lockb
package-lock.json
frontend_dump.html
town-map-explorer.zip
